<!-- Title group  -->
<div class="title-group">
    <h1 class="mat-h1">Update Restaurant</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
  </div>
  
  <!-- Form -->
  <div class="inner-wrapper">
    <form [formGroup]="restaurantForm" (ngSubmit)="updateRestaurantForm()" #resetStudentForm="ngForm" novalidate>
      <!-- Left block -->
      <mat-card>
        <div class="controlers-wrapper">
          <!-- Name -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Restaurant name" formControlName="name">
            <mat-error *ngIf="handleError('name', 'required')">
              You must provide a<strong>restaurant name</strong>
            </mat-error>
          </mat-form-field>

           <!-- Image -->
           <mat-form-field class="example-full-width">
            <input matInput placeholder="Restaurant Images" formControlName="imageUrls">
            <mat-error *ngIf="handleError('imageUrls', 'required')">
              You must provide a<strong>restaurant name</strong>
            </mat-error>
          </mat-form-field>
  
          <!--Contact-->
          <mat-label class="label">Contact Info:</mat-label>
          <mat-form-field class="example-full-width">
            <input matInput type="number" formControlName="contact"  placeholder=" Add telephone" name="telephone"  required>
          </mat-form-field>
         <mat-form-field class="example-full-width">
            <input matInput  placeholder="Add Email" name="Email"  required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput    placeholder="Add Website Link" name="website" required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput   placeholder="Add Restaurant Open Hours" name="openhours"  required>
          </mat-form-field>
     
          <div class="misc-bottom-padding">
            <mat-label class="label">Dietary Restrictions:</mat-label> 
            <section  *ngFor="let dietary of RestaurantCategoryData[0]?.DietaryRestrictions let i = index" > 
                <mat-checkbox [value]="dietary._id"  (change)="changeOutputDietary($event)">{{dietary.name}}</mat-checkbox>
            </section>
          </div>
          <div class="misc-bottom-padding">
            <mat-label class="label">Good For:</mat-label> 
            <section  *ngFor="let goods of RestaurantCategoryData[0]?.goodFor let i = index" > 
                <mat-checkbox [value]="goods._id"  >{{goods.name}}</mat-checkbox>
            </section>
          </div>

        </div>
      </mat-card>
  
      <!-- Right block -->
      <mat-card>
        <div class="controlers-wrapper">

          <div class="misc-bottom-padding">
            <mat-label class="label">Price Range:</mat-label>
            <mat-radio-group  aria-label="Select an option">
              <mat-radio-button class = "tp-radio-button"  *ngFor="let prices of RestaurantCategoryData[0]?.Pricerange" [value]="prices._id" >{{prices.name}}</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="misc-bottom-padding">
            <mat-label class="label">Dishes:</mat-label> 
            <section  *ngFor="let dishes of RestaurantCategoryData[0]?.dishes.slice(0,5) let i = index" > 
                <mat-checkbox [value]="dishes._id"  (change)="changeOutputDishes($event)">{{dishes.name}}</mat-checkbox>
            </section>
          </div>
          <div class="misc-bottom-padding">
            <mat-label class="label">Dietary Restrictions:</mat-label> 
            <section  *ngFor="let dietary of RestaurantCategoryData[0]?.DietaryRestrictions let i = index" > 
                <mat-checkbox [value]="dietary._id"  (change)="changeOutputDietary($event)">{{dietary.name}}</mat-checkbox>
            </section>
          </div>
          <!-- Add subjects -->
          <!-- <mat-form-field class="multiple-items">
            <mat-chip-list #chipList> -->
              <!-- <mat-chip *ngFor="let subjectArray of subjectArray" [selectable]="selectable" [removable]="removable"
                (removed)="remove(subjectArray)">
                {{subjectArray.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip> -->
             <!--  <input placeholder="Add Pricedeals" [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <i class="material-icons tooltip-info" matTooltip="Enter subject name and press enter to add subjects">
              info
            </i>
          </mat-form-field>
   -->
          <!-- Date of birth -->
      <!--     <mat-form-field>
            <input matInput readonly [matDatepicker]="picker" placeholder="Room" formControlName="rooms"
              (dateChange)="formatDate($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="handleError('rooms', 'required')">
              Number of rooms
            </mat-error>
          </mat-form-field> -->
  
          <!-- Gender -->
        <!--   <div class="misc-bottom-padding">
            <mat-label>Class:</mat-label>
            <mat-radio-group aria-label="Select an option" formControlName="class">
              <mat-radio-button value="Male">1</mat-radio-button>
              <mat-radio-button value="Female">2</mat-radio-button>
              <mat-radio-button value="Female">3</mat-radio-button>
              <mat-radio-button value="Female">4</mat-radio-button>
              <mat-radio-button value="Female">5</mat-radio-button>
            </mat-radio-group>
          </div> -->
        </div>
      </mat-card>
  
      <!-- Submit & Reset -->
      <mat-card>
        <div class="full-wrapper button-wrapper">
          <div class="button-wrapper">
            <button mat-flat-button color="warn">Update</button>
          </div>
        </div>
      </mat-card>
    </form>
  </div>
