<!-- Title group  -->
<div class="title-group">
    <h1 class="mat-h1">Add Hotel</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
  </div>
  
  <!-- Form -->
  <div class="inner-wrapper">
    <form [formGroup]="hotelForm"  #resetHotelForm="ngForm" novalidate>
      <!-- Left block -->
      <mat-card>
        <div class="controlers-wrapper">
        <!-- Name -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Hotel Name" formControlName="name">
          <mat-error *ngIf="handleError('name', 'required')">
            You must provide a <strong>hotel name</strong>
          </mat-error> 
        </mat-form-field>

           <!--Rooms-->
        <mat-form-field class="example-full-width">
          <input matInput type="number" placeholder="Hotel Rooms" formControlName="rooms">
          <mat-error *ngIf="handleError('rooms', 'required')">
            You must provide a <strong>hotel rooms</strong>
          </mat-error>
        </mat-form-field>
 
          <!--Map-->
          <mat-form-field class="example-full-width">
            <input matInput type="number" (change)="addMap($any($event.target).value,$any($event.target).name)"  placeholder="Map Latitude" name="latitude" [value]="map.latitude" required>
            <!-- <mat-error *ngIf="handleError('map','required')">
              You must provide a <strong>hotel rooms</strong>
            </mat-error> -->
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="number" (change)="addMap($any($event.target).value,$any($event.target).name)"  placeholder="Map Longitude" name="longitude" [value]="map.longitude" required>
            <!-- <mat-error *ngIf="handleError('map', 'required')">
              You must provide a <strong>hotel rooms</strong>
            </mat-error> -->
          </mat-form-field>
  
           <!-- Distance -->
           <mat-label class="label" >Distance:</mat-label>
           <mat-form-field class="example-full-width">
            <input matInput type="number" (change)="addDistance($any($event.target).value,$any($event.target).name)"  placeholder="From Beach" name="beach" [value]="distance.beach" required>
          </mat-form-field>
           <mat-form-field class="example-full-width">
            <input matInput type="number" (change)="addDistance($any($event.target).value,$any($event.target).name)"  placeholder="From Park" name="park" [value]="distance.park" required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="number" (change)="addDistance($any($event.target).value,$any($event.target).name)"  placeholder="From City Center" name="cityCenter" [value]="distance.cityCenter" required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="number" (change)="addDistance($any($event.target).value,$any($event.target).name)"  placeholder="From Main Street" name="mainStreet" [value]="distance.mainStreet" required>
          </mat-form-field>
        <!--add price deals-->
        <mat-label class="label" >Price Deals:</mat-label>
        <div
        formArrayName="Pricedeals"
        *ngFor="let info of hotelForm.get('Pricedeals')['controls']; let i = index;"
      >
        <div [formGroupName]="i">
          <mat-form-field class="example-full-width">
          <input matInput formControlName="name"  placeholder="Deal Name">
          </mat-form-field>
          <mat-form-field class="example-full-width">
          <input matInput formControlName="link"  placeholder="Website Link">
         </mat-form-field>
         <mat-form-field class="example-full-width">
             <input matInput formControlName="pricePerNight" type="number"  placeholder="Price per night">
            </mat-form-field>
        </div>
        <!-- Exposed item name: {{ cruiseForm.controls.travelers.controls[].controls.passengers.value }} -->
      </div>
      <button mat-raised-button type="button" (click)="addPriceDeals()">Add Price Deals</button>
          <div class="misc-bottom-padding">
            <mat-label class="label">Hotel Class:</mat-label>
            <mat-radio-group  aria-label="Select an option" formControlName="class">
              <mat-radio-button class = "tp-radio-button"  *ngFor="let classes of HotelCategoryData[0]?.hotelClass" [value]="classes._id" >{{classes.name}}</mat-radio-button>
              <!-- <mat-radio-button class = "tp-radio-button" value="Mid-range">Mid-range</mat-radio-button>
              <mat-radio-button  class = "tp-radio-button" value="Fine Dining">Fine Dining</mat-radio-button> -->
            </mat-radio-group>
          </div>

     <!-- Image -->
     <!-- <div class="form-group">
      <input type="file" name="images" multiple/> 
    </div>
    <button type="submit" class="btn btn-info">upload</button> -->
  
        </div>
      </mat-card> 
  
      <!-- Right block -->
       <mat-card>
        <div class="controlers-wrapper"> 
          <div class="row">
            <div class="col-6">
          <!-- Style -->
           <div class="misc-bottom-padding">
            <mat-label class="label">Style:</mat-label>
            <section  *ngFor="let elem of styleslist" > 
                <mat-checkbox  [value]="elem" (change)="changeOutputStyle($event)" >{{elem}}</mat-checkbox>
            </section>
          </div> 
          <div class="misc-bottom-padding">
            <mat-label class="label">Deals:</mat-label>
            <section  *ngFor="let deals of HotelCategoryData[0]?.deals let i = index" > 
                <mat-checkbox [value]="deals._id"  (change)="changeOutputDeals($event)">{{deals.name}}</mat-checkbox>
            </section>
          </div> 
          <!--language spoken-->
          <div class="misc-bottom-padding">
            <mat-label class="label">Language Spoken :</mat-label>
            <section  *ngFor="let language of HotelCategoryData[0]?.languageSpoken" > 
                <mat-checkbox [value]="language._id"  (change)="changeOutputlanguageSpoken($event)">{{language.name}}</mat-checkbox>
            </section>
          </div> 
        
        </div>
      <div class="col-6">
                     <!--popular-->
  <div class="misc-bottom-padding">
    <mat-label class="label">Popular :</mat-label>
    
    <section   *ngFor="let popular of HotelCategoryData[0]?.popular let i = index" > 
        <mat-checkbox [value]="popular._id"  (change)="changeOutputPopular($event)">{{popular.name}}</mat-checkbox>
    </section>
  </div> 
  <div class="misc-bottom-padding">
    <mat-label class="label">Amenities:</mat-label>
    <section  *ngFor="let amenities of HotelCategoryData[0]?.amenities let i = index" > 
        <mat-checkbox [value]="amenities._id"  (change)="changeOutputAmenities($event)">{{amenities.name}}</mat-checkbox>
    </section>
  </div> 
        </div>
          </div>
         </div>
      </mat-card>


  
      <!-- Submit & Reset -->
      <mat-card>
        <div class="full-wrapper button-wrapper">
          <div class="button-wrapper">
            <button mat-flat-button color="warn" type="submit" (click)="submitHotelForm()">Submit</button>
            <!-- <button mat-flat-button color="primary"  (click)="Reset()" >Reset</button> -->
          </div>
        </div>
      </mat-card>
    </form>
  </div>
